<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete User</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <hr>
    <h1>Delete Contact</h1>
    <hr>
    <br>
    <form method="POST" action="/delete">
        <div class="input">
            <label class="value">Id</label>
            <input id="textbox" class="value" type="text" name="id">
        </div>
        <div class="button">
            <button class="btn" id="delete" type="submit">Delete</button>
        </div>
    </form>
</body>
</html>