<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UI</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <div class="phonebook">
        <img  src="/images/phone_book.png" width="8%" height="8%" alt="phone book">
    </div>
    <!-- <hr style="color:brown"> -->
    <h1>Phone Book</h1>
    <!-- <hr> -->
    <br>
    <div class="CS">
        <ul class="all_students">
            <% if (locals.details) {%>
                <% for( var i = 0;i<details.length;i++){ %>
                       <% let id = details[i].id;%>
                       <% let name = details[i].name; %>
                       <% let phone_num = details[i].contact %>
                        <div class="box">
                            <div>
                                <dl>
                                    <dd id="unique"><%= id %></dd>
                                    <dd  class="each_student"><h4><img class="image" src="/images/person.png" alt="person">  <%= name %></h4></dd>
                                    <dd  class="each_student"><h4><img class="image" src="/images/phone.png" alt="phone"><%= phone_num %></h4></dd>
                                </dl>
                            </div>
                        </div>
                        <br>
                   <% } %>
           <% } %>
        </ul>
    </div>
    <div class="button">
        <a class="btn" id="add" href="/new">New Contact</a>
    </div>
    <div class="button">
        <a class="btn" id="edit" href="/edit">Edit Contact</a>
    </div>
    <div class="button">
        <a class="btn" id="delete" href="/del">Delete Contact</a>
    </div>    
</body>
</html>