<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UI</title>
    <!-- <link rel="stylesheet" href="/styles/main.css"> -->
    <link rel="stylesheet" href="/styles/new.css">
</head>
<body>
    <div class="image-container">
        <img  src="/images/closed_book_gif_1.gif" alt="phone book" height="40%" width="40%">
        <div class="button">
            <a class="btn" id="open" href="/phonebook/0">Open phonebook</a>
        </div>
        <div class="button">
            <a class="btn" id="add" href="/new">Add contact</a>
        </div>
        <div class="button">
            <a class="btn" id="list" href="/phonebook">List contacts</a>
        </div>
    </div>
    
    
    

    
</body>
</html>