<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open Phone Book</title>
    <link rel="stylesheet" href="/styles/new.css">
</head>
<body>
    <div>
        <%
        let name = details[0].name
        let contact =  details[0].contact 
        let index = locals.index;    
        %>
        <p>
            <%= name %>
            <%= contact %>
        </p>

        <div class="button">
            <a class="btn" id="edit" href="/edit/<%= index %>">Edit Contact</a>
        </div>
        <div class="button">
            <a class="btn" id="delete" href="/del">Delete Contact</a>
        </div>
    </div>
    <div class="button">
        <a class="btn" id="next" href="<%= next %>">Next Page</a>
    </div>
</body>
</html>